.header {
    grid-area: h;

    background-size: 100%;
    background-image: url(https://www.knowsleysafariexperience.co.uk/media/2664/conservation-ideas-for-kids-800x200px-title-02-reduce-single-use-plastic.jpg);

}

.header img {
    width: 80px;
}